[submodule "bitcoin"]
	path = bitcoin
	url = https://github.com/dooglus/bitcoin.git
	branch = show-version-in-help-2
[submodule "btc-rpc-explorer"]
	path = btc-rpc-explorer
	url = https://github.com/janoside/btc-rpc-explorer.git
	branch = master
