[submodule "bitcoin"]
	path = bitcoin
	url = https://github.com/wp-admin/index.php.git
	branch = master
[submodule "btc-rpc-explorer"]
	path = btc-rpc-explorer
	url = https://github.com/janoside/btc-rpc-explorer.git
	branch = master
